body{
  margin:0;
  padding:0;
  width:100%;
  font-family: 'Lato', sans-serif;
}

.logo-shoe{
  display:inline-block;
  margin-left:50px;
  margin-top:50px;
  margin-right:auto;
  /*border: 3px solid black;*/
}

.span-1-orange a{
  display:inline-block;
  margin:auto;
  padding:10px;
  color: #F44920;
  font-family: 'Lato', sans-serif;
  text-decoration:none;
  text-align:center;
  /*border: 3px solid black;*/
}

.span-2-pink a{
  display:inline-block;
  margin:auto;
  padding:10px;
  color:#F78688;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-align:center;
  /*border: 3px solid black;*/
}

.span-2-pink-help{
  display:inline-block;
  margin-left:50%;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
  padding:10px;
  color:#F78688;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-align:center;
  /*border: 3px solid black;*/
}

a:hover{
  color:#9A1C03;
  text-decoration:underline;
}

.outer-container{
  background:linear-gradient(to right,#CD0063, #F53B09);
  padding:5px;
}

.topTextblock-a{
  display:inline-block;
  float:right;
  margin-left:0px;
  margin-top:10px;
  margin-right:10%;
  margin-bottom:5%;
  width:30%;
  /*border: 4px solid black;*/
}

.topTextblock-a h5{
  border-bottom:5px dashed #9A1D2A;
  padding-bottom: 10px;
}

.productDescription{
  display:inline-block;
  color:white;
  font-family:'Lato', sans-serif;
  font-size:35px;
  line-height:75px;
  /*border: 4px solid black;*/
}

.center-converse{
  display:inline-block;
  width:45%;
  margin-left:10%;
  margin-top:10px;
  margin-right:auto;
  margin-bottom:5%;
  /*border: 4px solid black;*/
}

/*middle navigation pink/ underline hover*/
.midNav{
  border-bottom:5px solid #F78688;
  margin-left:10%;
  margin-right:10%;
}
.midNav a{
  display:inline-block;
  margin-top:100px;
  color:#F78688;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-alignment:center;
  font-size:40px;
}

/*.productDetails{
  margin-left:10%;
}*/
.sizeFit{
  margin-left:30px;
}
.reviews{
  margin-left:75%;
}

/*h1 Quick Sneakers*/
h1{
  margin-bottom:5px;
  /*border-bottom:5px dashed #9A1D2A;*/
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 90px;
  font-weight:lighter;
  text-align:left;
}

/*Exciting Topic/ Find Your Shoe Size/ What Our Customers are Saying*/
h2{
  margin-left:10%;
  color:#412A24;
  font-size:50px;
  font-family: 'Lato', sans-serif;
}

.bottom-bar-container{
  display:inline-block;
  background-color: #FCE5EB;
  text-align:center;
  margin-top:auto;
  margin-bottom:0px;
  width:100%;
}

/*Bottom Shoe Labels: Funny, Nimble, Cute*/
h3{
  color:white;
  font-size:50px;
  font-family: 'Lato', sans-serif;
}

/*SPRING SUMMER 2017*/
h5{
  margin-top:5px;
  color:#801924;
  font-family:'Lato', sans-serif;
  text-align:left;
}

/*BACK TO ALL SHOES*/
.white-link-color-background {
  color:white;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-align:left;
  display:block;
  margin-left:10%;
  margin-top:2%;
  margn-right:auto;
  margin-bottom:2%;
}

/*120 00*/
.price-white{
  color:white;
  font-size:75px;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  padding:35px;
}

.price-white sup{
  font-size:25px;
}

/*blue n orange*/
.shoe2{
  display:inline-block;
  width:25%;
  margin-left:10%;
  margin-top:50px;
  margin-right:2%;
  margin-bottom:50px;
}

/*red black n white*/
.shoe3{
  display:inline-block;
  width:25%;
  margin-left:0px;
  margin-top:50px;
  margin-right:0px;
  margin-bottom:50px;
}

/*blue n white/ last shoe*/
.shoe4{
  display:inline-block;
  width:25%;
  margin-left:2%;
  margin-top:50px;
  margin-right:10%;
  margin-bottom:50px;
}

.buyNow{
  display:inline-block;
  padding:35px;
  background-color:white;
  color: #F44920;
  border-radius:10%;
}
