.orange-color{
  color: #F44920;
  font-family: sans-serif;
  text-decoration:none;
}

.outer-container{
  background-color:red;
}

h1{
  color: white;
  font-family: sans-serif;

}

h2{
  color:#412A24;
  font-family: sans-serif;
}

.bottom-bar-header{
  background-color: #FCE5EB;
  text-align:center;
}

h3{
  color:white;
  font-family: sans-serif;
}

h5{
  color:#801924;
  font-family:sans-serif;
}

.white-text-color-background{
  color:white;
  font-family:sans-serif;
}
