body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'Lato', sans-serif;
}

.headerBarWhite{
  display:inline-block;
  width:100%;
  height:184px;
}

.span-1-orange{
  display:inline-block;
  margin:50px;
  float:left;
  text-align:center;
}

.span-1-orange a{
  display:inline-block;
  margin:auto;
  padding:10px;
  color: #F44920;
  font-family: 'Lato', sans-serif;
  text-decoration:none;
  text-align:center;
}

.span-2-pink{
  display:inline-block;
  float:right;
  margin:50px;
  text-align:center;
}

.span-2-pink a{
  display:inline-block;
  margin:auto;
  padding:10px;
  color:#F78688;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-align:center;
}

a:hover{
  color:#9A1C03;
  text-decoration:underline;
  font-weight:bold;
}

/*-----------------TOP Gradient Container-----------------*/
.outerContainer1{
  background:linear-gradient(to right,#CD0063, #F53B09);
  padding:5px;
}

.topTextblock-a{
  display:inline-block;
  float:right;
  margin-left:0px;
  margin-top:10px;
  margin-right:10%;
  margin-bottom:5%;
  width:30%;
  /*border: 4px solid black;*/
}

/*h1 Quick Sneakers*/
h1{
  margin-bottom:5px;
  /*border-bottom:5px dashed #9A1D2A;*/
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 90px;
  font-weight:lighter;
  text-align:left;
}

.productDescription{
  display:inline-block;
  border-top:5px dashed #9A1D2A;
  border-bottom:5px dashed #9A1D2A;
  padding-top:60px;
  padding-bottom: 30px;
  color:white;
  font-family:'Lato', sans-serif;
  font-size:35px;
  line-height:75px;
  /*border: 4px solid black;*/
}

.productDescription a{
  display:inline-block;
  text-align:right;
  text-decoration:underline;
  margin-left:70%;
  color:#9A1C03;
}

.center-converse{
  display:inline-block;
  width:45%;
  margin-left:10%;
  margin-top:10px;
  margin-right:auto;
  margin-bottom:5%;
  /*border: 4px solid black;*/
}

.buyNow{
  display:inline-block;
  padding:35px;
  background-color:white;
  color: #F44920;
  border-radius:10%;
}

/*-----------------MIDDLE NAVIGATION pink/ underline hover---------------*/
.midNav{
  border-bottom:5px solid #F78688;
  margin-left:10%;
  margin-right:10%;
}

.midNav a{
  display:inline-block;
  margin-top:100px;
  color:#F78688;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-alignment:center;
  font-size:40px;
}

.midNav a:hover{
    color:#9A1C03;
    text-decoration:underline;
    font-weight: bold;
}

.sizeFit{
  margin-left:30px;
}

.reviews{
  margin-left:75%;
}


/*Exciting Topic/ Find Your Shoe Size/ What Our Customers are Saying*/
h2{
  margin-left:10%;
  color:#412A24;
  font-size:50px;
  font-family: 'Lato', sans-serif;
}

.bottom-bar-container{
  display:inline-block;
  margin-top:auto;
  margin-bottom:0px;
  width:100%;
  background-color: #FCE5EB;
  color:#412A24;
  font-size:50px;
  font-weight:bold;
  font-family:'Lato', sans-serif;
  text-align:center;
}

/*Bottom Shoe Labels: Funny, Nimble, Cute*/
h3{
  display:inline-block;
  color:white;
  font-size:50px;
  font-family: 'Lato', sans-serif;
}

/*SPRING SUMMER 2017*/
h5{
  display:inline-block;
  margin-top:5px;
  color:#801924;
  font-family:'Lato', sans-serif;
  text-align:left;
}

/*BACK TO ALL SHOES*/
.white-link-color-background {
  color:white;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  text-align:left;
  display:block;
  margin-left:10%;
  margin-top:2%;
  margn-right:auto;
  margin-bottom:2%;
}

/*120 00*/
.price-white{
  display:inline-block;
  color:white;
  font-size:75px;
  font-family:'Lato', sans-serif;
  text-decoration:none;
  padding:35px;
}

.price-white sup{
  font-size:25px;
}



/*--------------------BOTTOM SHOES/ Gradient Container-----------------*/
.outerContainer2{
  background:linear-gradient(to right,#CD0063, #F53B09);
  width:100%;
}

.centerBottomShoes{
  display:inline-block;
  text-align:center;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  padding-top:100px;
  padding-bottom:100px;
}

/*blue n orange*/
.shoe2{
  display:inline-block;
  width:25%;
  margin:auto;
}
  /*margin-left:10%;
  margin-top:100px;
  margin-right:auto;
  margin-bottom:100px;
}*/

/*red black n white*/
.shoe3{
  display:inline-block;
  width:25%;
  margin:auto;
}
  /*margin-left:auto;
  margin-top:100px;
  margin-right:auto;
  margin-bottom:100px;
}*/

/*blue n white/ last shoe*/
.shoe4{
  display:inline-block;
  width:25%;
  margin:auto;
}
  /*margin-left:auto;
  margin-top:100px;
  margin-right:10%;
  margin-bottom:100px;
}*/
